spring:
  application:
    name: 4vidia-discovery #4vidia-discovery

eureka:
  instance:
    hostname: ${EUREKA_INSTANCE_HOSTNAME}
  server:
    eviction-interval-timer-in-ms: 30000
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://${ADMIN_ID}:${ADMIN_PASSWORD}@${EUREKA_DEFAULT_ZONE}:8080/eureka/

server:
  port: 8080

management:
  endpoints:
    web:
      exposure:
        include: health, info
  endpoint:
    health:
      show-details: always
